.body {
    overflow: hidden;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#escolhas {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px;
    gap: 20%;
    justify-content: center;
}

#caixinhas {

    background-color: rgb(165, 42, 42);
    border: double white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caixinhas img {
    width: 80%;
    background: none;
}
  
h6 {
    color: white;
}

@media screen and (max-width: 760px) { 
    #escolhas {
        margin-top: 130px;
        margin-left: 80px;
        grid-template-columns: 110px 110px;
        grid-template-rows: 100px 100px 100px;
        column-gap:10px;
        row-gap: 40px;
        overflow: hidden;
    }

    .container {
        top: -10%;
       
    }

    body {
        overflow: hidden;
    }
    h6{
        color: #ffffff;
        text-align: center;
    }
}